* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-height: 150vh;
}

header {

    background:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('./img/header_background.jpeg') center/cover no-repeat fixed;
    height: 100vh;
}

.menu-container {
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.burger-menu {
    display: block;
    cursor: pointer;
    justify-self: center;
    border-radius: 5px;
    width: 1.8rem;
    height: .2rem;
    background-color: white;
    position: relative;

}

.burger-menu::before {
    display: block;
    content: '';
    position: absolute;
    width: 1.8rem;
    height: 0.2rem;
    background-color: white;
    border-radius: 5px;
    top: -0.5rem;
    left: 0;
}

.burger-menu::after {
    display: block;
    content: '';
    position: absolute;
    width: 1.8rem;
    height: 0.2rem;
    background-color: white;
    border-radius: 5px;
    bottom: -0.5rem;
    left: 0;
}

.header-logo {
    background: url('./img/logo.png') center/contain no-repeat;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(500px, 60vw);
    height: min(250px, 30vh);
    aspect-ratio: 2 / 1;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
    transition: transform 0.3s ease;
}

.header-main-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 700;
    font-size: 3.75rem;
    text-align: center;
    min-width: 50vw;
}

.header-second-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    color: lightgray;
    max-width: 40%;
    /* font-size: 4.5rem; */
    text-align: center;
}

.triangle-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 35px solid white;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* main */

.main-about {
    display: flex;
    margin: 10rem 20rem 9rem 20rem;
    gap: 4rem;
    flex-direction: column;
    text-align: center;
}

.main-about h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.main-about h1 {
    font-family: 'Playfair Display', serif !important;
    font-weight: 400;
    font-size: 3rem;
}


.main-story {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin: 5rem 0;
}

.main-story-text {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.main-story-text>* {
    flex: 1;
    text-align: center;
}

.main-story img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/2;
}

.main-story h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 5px;

}

.main-story p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
}

.main-story a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-top: 4rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

.main-event {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-event h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.main-event h1 {
    font-family: 'Playfair Display', serif !important;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 3px;
}


.main-event-date {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 20rem;
    gap: 5rem;
}

.event-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .7rem;
}

.event-item p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.main-event a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    padding: .7rem 4rem;
    border: 2px solid black;
    color: white;
    background-color: black;
    position: relative;
    overflow: hidden;
    margin-top: 3rem;
    z-index: 1;
}

.main-event a:hover {
    color: black;
    background-color: white;
    border-color: black;
    transition: all 0.3s ease-in-out;
}

.main-event a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: white;
    transition: left 0.3s ease-in-out;
    z-index: -1;
}

.main-event a:hover::before {
    left: 0;
}

/* SWIPER */

.swiper {
    width: 100%;
    height: 45rem;
    margin: 7rem;
}

.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
    max-width: 60rem;
    text-align: center;
    width: 90%;
}

.slide-content h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 1rem;
}

.slide-content p {
    font-family: 'Playfair Display', serif !important;
    font-weight: 400;
    font-size: 3rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: white;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

.swiper-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 50%);
    z-index: 1;
}


.shef-block h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 1.125rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.shef-block p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
    letter-spacing: .1rem;
}

.shef-block h1 {
    font-family: 'Playfair Display', serif !important;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.shef-block-menu {
    width: 60vw;
    display: grid;
    justify-self: center;
    text-align: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5rem;
}

.shef-menu-item {
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* PHOTO GALLERY */

.photo-gallery {
    /* width: 100vw; */
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    margin: 0;
}

.left-photo {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.right-top-photo {
    grid-column: 2;
    grid-row: 1;
}

.right-bottom-left {
    grid-column: 2;
    grid-row: 2;
}

.right-bottom-right {
    grid-column: 2;
    grid-row: 2;
}

.photo-gallery>div {
    position: relative;
    overflow: hidden;
}

.photo-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.right-bottom-left,
.right-bottom-right {
    width: 50%;
}

.right-bottom-left {
    justify-self: start;
}

.right-bottom-right {
    justify-self: end;
}


/* COUNTER */

.counter-section {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    background: #f8f9fa;
    gap: 2rem;
    flex-wrap: wrap;
}

.counter-container {
    flex: 1;
    text-align: center;
    padding: 30px;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.counter-section h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: black;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    letter-spacing: 2px;
    line-height: 1.3;
    font-size: 1.1rem;
}

.counter-container:hover {
    transform: translateY(-10px);
}

.counter-image {
    margin-bottom: 30px;
}

.counter-image img {
    width: 30%;
}

.counter-number {
    margin: 30px 0;
}

.counter {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif !important;

}

.counter-text {
    margin-top: 20px;
}

.counter-text p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

/* Адаптивность */
@media (max-width: 768px) {
    .counter-section {
        flex-direction: column;
        gap: 30px;
    }

    .counter-container {
        min-width: 100%;
    }

    .counter {
        font-size: 3rem;
    }
}


.custom-popup {
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}



/* Стили для всплывающих окон */
.custom-popup {
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* Стили для контента внутри окон */
.modal-content-wrapper {
    text-align: left;
    max-height: 60vh;
    overflow-y: auto;
}

.modal-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.modal-text-content {
    line-height: 1.6;
    font-size: 16px;
    color: #333;
}

.modal-contact-info {
    margin-top: 20px;
    padding: 15px;
    background: #f8f9fa;
    border-radius: 8px;
}

.modal-contact-title {
    margin: 0 0 10px 0;
    
}

.modal-contact-text {
    margin: 0;
}

/* Стили для ссылок "прочитайте больше" */
.read-more {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}


/* Дополнительные стили для SweetAlert2 */
.swal2-title {
    font-size: 24px !important;
    /* color: #2c5530 !important; */
}

.swal2-close {
    color: #666 !important;
}

.swal2-close:hover {
    color: #333 !important;
}